body {
    padding: 10px;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.feature-margin {
    margin-top: 20px;
}

.col-votes {
    width: 10%;
}

.col-feature {
    width: 90%;
}

.feature-title-div {
    display: inline-block;
    width: 100%;
}

.feature-title {
    display: inline;
}

.feature-title {
    display: inline-block;
}

.feature-tag-from {
    float: right;
}

.submit-comment {
    float: right;
    margin-top: 10px;
}

.comment-text {
    border-radius: .375rem;
    outline: 1px solid #ccc;
}

.comment-author {
    float: right;
    font-weight: bold;
}

.comment-form {
    margin-top: 50px;
}

.comment {
    margin-top: 10px;
}

.date {
    font-size: 10px;
}


.row-margin {
    margin-top: 10px;
}

.submit {
    margin-top: 10px;
    float: right;
}

.project {
    padding: 5px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}


.vote-outer {
    padding: 5px
}

.vote-sml {
    padding: 0px;
    margin: 2px;
}

.projectfeature {
    margin: 5px;
    padding: 2px;
    display: block;
    width: 100%;

    border-radius: .375rem;
    outline: 1px solid #ccc;
}

a.projectfeature-link {
    color: black
}

a.projectfeature-link:visited {
    color: rgb(63, 63, 63)
}

a.projectfeature-link:active {
    color: rgb(109, 109, 109)
}

.projectfeature:hover {
    outline: 1px solid rgb(143, 143, 143);
}

.col-cell {
    display: table-cell;
    vertical-align: middle;
}

.col-upvotes {
    width: 5%;
}

.col-btn {
    width: 2.5%;
}

.col-very-big {
    width: 92.5%;
    display: table-cell;
    vertical-align: middle;
}

.block-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.upvote-count {
    margin: 0px;
    text-align: center;
}



.filters {
    float: right;
}

.pages {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    max-height: 512px;
}

#description {
    margin: 20px;
}