{% extends 'userfeatures/layout_project.html' %}

{% block title %}{{project.name}}: {{feature.title}} {% endblock %}

{% load number %}

{% block body %}

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<div class="container">

    <div class="row feature-margin">
        <div class="col col-2 col-votes">
            <div class="row vote-outer">
                <a class="btn btn-success vote" href="{% url 'feature_upvote' project_id feature_id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up arrow"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                    </svg>
                </a>
            </div>

            <h1 class="text-center">{{feature.upvotes|short_number:feature.downvotes}}</h1>

            <div class="row vote-outer">
                <a class="btn btn-warning vote" href="{% url 'feature_downvote' project_id feature_id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down arrow"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="col col-10 col-feature">
            <div class="feature-title-div">
                <h3 class="feature-title">{{feature.title}}</h3>
                {% if user.is_authenticated and user == project.owner %}
                <div class="feature-tag-from">
                    <form class="row g-3" method="post" action="{% url 'feature_tag_add' project_id feature_id %}">
                        {% csrf_token %}
                        <div class="col-auto">
                            <select name="tag" class="form-select" aria-label="Add Tag">
                                {% for tag in tags %}
                                <option value="{{tag.id}}">{{tag.tag}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <input class="btn btn-primary" type="submit" value="Add Tag">
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
            <div class="tags">
                {% for tag in feature.tags.all %}
                <span class="badge bg-secondary">{{tag.tag}}</span>
                {% endfor %}
            </div>
            <div id="description"></div>
        </div>
    </div>

    <script>
        document.getElementById('description').innerHTML = marked.parse('{{feature.description|escapejs}}');
    </script>

    <div id="comments">
        <h3>Comments</h3>

        {% for comment in comments %}
        <div class="row comment">
            <div class="col col-2 comment-author">
                <div class="row">
                    <p>{{comment.owner}}</p>
                </div>
                <div class="row">
                    <p class="date">{{comment.created_datetime}}</p>
                </div>
            </div>
            <div class="col col-10 comment-text" id="comment-id{{comment.id}}">

            </div>

            <script>
                document.getElementById('comment-id{{comment.id}}').innerHTML =
                    marked.parse('{{comment.text|escapejs}}');
            </script>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <div class="comment-form">
            <h4>Leave a comment</h4>
            <form method="post" action="{% url 'feature_comment' project_id feature_id %}">
                {% csrf_token %}
                <textarea class="form-control" placeholder="Your comment here..." name="content"></textarea>
                <input class="btn btn-primary submit-comment" type="submit" value="Submit">
            </form>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}