{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}userfeatures{% endblock %}</title>
    <link href="{% static 'userfeatures/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'userfeatures/styles.css' %}" rel="stylesheet">

    <script src="{% static 'userfeatures/jquery.js' %}"></script>
    <script src="{% static 'userfeatures/jquery-ui.js' %}"></script>

    <script src="{% static 'userfeatures/bootstrap.js' %}"></script>
</head>

<body>
    <div class="container">
        <!-- Nav Bar Start -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">user->features</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'project_new' %}">New Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li>

                        <li class="nav-item">
                            {% if project_id is not None %}
                            <a class="nav-link" href="{% url 'logout' project_id %}">Log Out</a>
                            {% else %}
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            {% endif %}
                        </li>
                        {% else %}

                        {% if project_id is not None %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' project_id %}">Log In</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' project_id %}">Register</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}

                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>

                        {% endif %}
                    </ul>

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}
    </div>
</body>

</html>