{% extends "userfeatures/layout.html" %}

{% block body %}


<div class="row" style="padding-top: 50px;">
    <div class="col"></div>
    <div class="col">
        <h2>Register</h2>

        {% if message %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}

        <form action="{% url 'register' project_id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>

        Already have an account? <a href="{% url 'login' project_id %}">Log In here.</a>
    </div>
    <div class="col"></div>
</div>

{% endblock %}