{% extends 'userfeatures/layout.html' %}

{% block title %}New project{% endblock %}

{% block body %}
<div class="container">
    <h1>New project</h1>

    <form id="project_new" action="{% url 'project_new' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                {{ form.as_div }}
            </div>
        </div>
        <div class="row project-sub">
            <div class="col"><input class="btn btn-primary" type="submit" value="Submit"></div>
        </div>

    </form>
</div>
{% endblock %}