{% extends 'userfeatures/layout_project.html' %}

{% block title %}{{project.name}}{% endblock %}

{% block body %}



<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 512px;
        max-height: 512px;
    }
</style>

<div class="row">
    <img class="center" src="{{project.banner}}"></img>

</div>


<div>
    {{project.description}}
</div>

<style>
    .vote {
        padding: 0px;
        margin: 2px;
    }

    .feature {
        outline: 1px solid #ccc;
        margin: 5px;
        padding: 1px;
        display: table;
        width: 100%;
    }

    .col-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .col-upvotes {
        width: 5%;
    }

    .col-btn {
        width: 2.5%;
    }

    .col-very-big {
        width: 92.5%;
        display: table-cell;
        vertical-align: middle;
    }

    .block-link {
        height: 100%;
        width: 100%;
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
    }

    .upvote-count {
        margin: 0px;
        text-align: center;
    }
</style>

<h1>Feature Requests</h1>
<div class="container">


    {% for feature in features %}
    <div class="row feature">
        <div class="col col-cell col-upvotes">
            <p class="upvote-count">{{feature.upvotes}}</p>
        </div>
        <div class="col col-cell col-btn">
            <div class="row vote-outer">
                <a class="btn btn-success vote" href="{% url 'feature_upvote' project_id feature.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up arrow"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                    </svg>
                </a>
            </div>

            <div class="row vote-outer">
                <a class="btn btn-warning vote" href="{% url 'feature_downvote' project_id feature.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-down arrow"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                    </svg>
                </a>
            </div>
        </div>

        <a href="{% url 'feature_show' project_id feature.id %}" class="block-link ">
            <div class="col-10 col-very-big">

                <h3>{{feature.title}}</h3>

            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}