{% extends 'userfeatures/layout_project.html' %}

{% block title %}New Tag{% endblock %}

{% block body %}

<h2>Current Tags</h2>
<ul>
    {% for tag in tags %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="badge btn btn-secondary">{{tag.tag}}</a>
        <a class="badge btn btn-secondary" href="{% url 'tag_delete' project_id tag.id %}">X</a>
    </div>

    {% endfor %}
</ul>


<h2>New Tag</h2>

<form id="tag_new" action="{% url 'tag_new' project_id %}" method="post">
    {% csrf_token %}

    <div class="mb-3 row">
        <div class="col-sm-1">
            <label for="name">Tag:</label><br />
        </div>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="name" required>
        </div>

        <div class="col-sm-1">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </div>
</form>
{% endblock %}